@import "theme";

$outline-dark: #808080;

.outline {
  outline: 1px solid $outline-dark;
}

.white-link {
  color: $white;
}

.white-link:hover {
  color: $grey-lighter !important;
  transition: 0.5s linear all;
}

.app-menu-item {
  color: $white;
  padding: 5px 0 5px 5px;
  margin: 5px 0;
  border-left: 2px solid $white;
  cursor: pointer;
}

.app-menu-item:hover {
  color: $black;
  background-color: $white;
  transition: 0.2s linear all;
}