@import "theme";

$outline-dark: #808080;

.outline {
  outline: 1px solid $outline-dark;
}

.white-link {
  color: $white;
}

.white-link:hover {
  color: $grey-lighter !important;
  transition: 0.5s linear all;
}